<% include common/header %>

<h1><%= title %></h1>

<form action="/create" method="post">
    <input type="hidden" name="_csrf" value="<%= csrf %>">

    <p>
        <input type="text" name="title" value="" size="60">
        <% if( errors && errors.title ){ %>
        <strong><%= errors.title.message %></strong>
        <% } %>
    </p>

    <p><textarea name="contents" cols="60" rows="12"></textarea></p>

    <p>
        <button type="submit">作成</button>
    </p>
</form>
<p><a href="/">一覧に戻る</a></p>

<% include common/footer %>